[submodule "addons/gdtemu/native/thirdparty/TinyEMU"]
	path = addons/gdtemu/native/thirdparty/TinyEMU
	url = https://github.com/lihop/TinyEMU
[submodule "addons/gdtemu/native/thirdparty/godot-cpp"]
	path = addons/gdtemu/native/thirdparty/godot-cpp
	url = https://github.com/lihop/godot-cpp
