# SPDX-FileCopyrightText: none
# SPDX-License-Identifier: CC0-1.0
.env
.import/
.plugged/
.sconsign.dblite
.venv/
.vscode/
addons/*
docs/demo/
export/*
!addons/gd-plug/
!addons/gdtemu/
*.bc
*.o
*.os
*.swp
